<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<!--This gets the taskbar-->
<div id = "taskbar"> 
   
    <img src="../assets/biglogo.svg" title="logo" id="logo">
    <br>
    <button type="button" id="spotifyCharts">Spotify</button><br><br><br>
    <button type="button" id="appleCharts">Apple</button><br><br><br>
    <a href="#home">Compare Songs</a><br><br><br>
   <a href="#home">Settings</a><br><br><br>
</div>

<!--This will get the spotify taskchart-->
<div id="getCountry">
    <h1 id = "charts">Country Name</h1>
    <p id = "songNames">Change</p>
</div>

</html>