* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #7d7e7e;
}

svg path{
    fill: green;
    stroke: black;
    stroke-width: .30;
    transform: scale(0.88);
    position: relative;
    right: -100px;
}

/*
svg path:hover{
    fill: white;
    transition: 0.6s;
    cursor: pointer;
}
*/

